<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Smartcity</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<style>
    body {
      background-image: url("bg1.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
    }
    </style>

<body>
    <nav id="navbar">
        <!-- <div id="logo">
            <img src="logo.png" alt="onlinemeals.com">
        </div> -->
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services">Services</a></li>
            <!-- <li class="item"><a href="#about us">About Us</a></li> -->
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome to Smart City</h1>
        <p>A smart city uses information and communication technology (ICT) to improve operational efficiency, share information with the public and provide a better quality of government service and citizen welfare. ... People able to live and work within the city, using its resources.
        </p>
        
    </section>
    <section id="services">
        
    
    <!-- <nav id="navbar">
        <!-- <div id="logo">
            <img src="logo.png" alt="onlinemeals.com">
        </div> -->
        <!-- <ul>
            <li class="item"><a href="bank.html">Banks</a></li>
            <li class="item"><a href="railway.html">Railways</a></li>
            <li class="item"><a href="airports.html">Airports</a></li>
            <li class="item"><a href="food.html">food</a></li>
            <!-- <li class="item"><a href="waterm.html">Water Management</a></li> -->
        </ul> -->
    </nav> -->
<div >
    <h1 class="h-primary-center"; style="color: white;">Our Services :-</h1 >
        <h3 class="abab"> 
        </h3>
</div>
    
</section>

<!-- <section id="contact">
    <h1 id="contact-us">Contact Us</h1>
    <div id="contact-box">
        <form action="">
          <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" name="name" id="email" placeholder="Enter Your E-mail">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="phone" name="name" id="phone" placeholder="Enter Your Phone">
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <button class="btn">Submit</button>
        </form>
    </div>
</section> -->


<div class="container bootstrap snippets bootdeys"; style="display: inline-block;">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card" >
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h4 class="title"><a href="bank.html">Bank</a></h4>
                        <!-- <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p> -->
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <h4 class="title"><a href="railway.html">Railways</a></h4>
                        <!-- <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p> -->
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                    <h4 class="title"><a href="airports.html">Airways</a></h4>
                        <!-- <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p> -->
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                    <div class="content">
                        <h4 class="title"><a href="food.html">Food</a></h4>
                        <!-- <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p> -->
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
        
        <!-- <!-- <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Purple Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            <!-- </div>
        </div> -->
        
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                    <div class="content">
                        <h4 class="title"><a href="news.html">News</a></h4>
                        <!-- <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p> -->
                    </div>
                </div> <!-- end card -->
            <!-- </div>
        </div>
    </div>
    </div> --> --> -->


</body>
</html>

