<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <section id="news">
        <h1 class="news" style="font-size: 65px; align-items: center; margin: 20px 10px 0px 650px;">NEWS </Section></h1>
        <h3></h3>
        <!-- <button class="btn">Order Now</button> -->
    </section>
    <ul id="blink" style="margin: 150px 0px 0px 0px;">
        <li class="itemb"><a href="https://timesofindia.indiatimes.com/defaultinterstitial.cms">The Times Of India</a></li>
        <li class="itemb"><a href="https://www.jagran.com/">Dainik Jagaran</a></li>
        <li class="itemb"><a href="https://www.thehindu.com/">The Hindu</a></li>
        <li class="itemb"><a href="https://economictimes.indiatimes.com/defaultinterstitial.cms">Economic Times</a></li>
    </ul>
</body>
</html>