<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restrot</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <section id="Restro">
        <h1 class="restro">Welcome to Restaurant</h1>
        <h3></h3>
        <!-- <button class="btn">Order Now</button> -->
    </section>
    <ul id="blink">
        <li class="itemb"><a href="https://www.onlinesbi.com/">SBI</a></li>
        <li class="itemb"><a href="https://www.hdfcbank.com/">HDFC</a></li>
        <li class="itemb"><a href="https://www.pnbindia.in/">Punjab National Bank</a></li>
        <li class="itemb"><a href="https://www.bankofbaroda.in/">Bank Of Baroda</a></li>
    </ul>
</body>
</html>